.img-logo{
    width: 100%;
    max-width: 170px;
}

.logo_footer{
    width: 100%;
    max-width: 300px;
}

#logo_lateral{
    width: 100%;
    max-width: 300px;
}

.social_media{
    width: 100%;
    max-width: 300px;
}

#base-icon-social{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
#icon-social{
    font-size: 20px;
}
.social_list{
    display: grid;
    place-content: center;
}
.mission_content{
    margin-bottom: 50px;
}
.funfact-grid{
    display: grid;
    gap: 70px;
    padding: 50px;
    grid-template-columns: repeat(2,1fr);
}
.paragraph-grid{
    line-height: 40px;
    font-size:x-large;
}
@media screen and (max-width: 750px) {
    .funfact-grid{
        grid-template-columns: none;
    }
}

/* .item_image{
    object-fit: ;
} */