.img-logo{
    width: 100%;
    max-width: 170px;
}

.logo_footer{
    width: 100%;
    max-width: 300px;
}

#logo_lateral{
    width: 100%;
    max-width: 300px;
}

.social_media{
    width: 100%;
    max-width: 300px;
}

.image_container{
    margin-top: -100px;
    margin-bottom: 50px;
}

#base-icon-social{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}
#icon-social{
    font-size: 20px;
}
.social_list{
    display: grid;
    place-content: center;
}
.mission_content{
    margin-bottom: 50px;
}
.funfact-grid{
    width: 80%;
    margin: 0 auto;
    display: grid;
    gap: 70px;
    padding: 50px;
    grid-template-columns: repeat(2,1fr);
}
#palito{
    margin-top: 120px;
}
.paragraph-grid{
    line-height: 40px;
    font-size:x-large;
}
@media screen and (max-width: 750px) {
    .funfact-grid{
        grid-template-columns: none;
    }
}
.grid-team{
    display: grid;
    align-items: center;
    justify-items: center;
    gap:10px;
    grid-template-columns: repeat(3,1fr);
}
@media screen and (max-width: 750px) {
    .grid-team{
        grid-template-columns: repeat(2,1fr);
    }
}
#member-team-grid{
    width: 400px;
    text-align: start;  
}
.base-footer{
    display: flex;
    justify-content: center;
    width: 100%;
}
.container-module{
    display: flex;
    justify-content: space-between;
}
@media screen and (max-width: 1050px) {
    .container-module{
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }
}
#fixed-footer{
    padding: 0;
    width: 100%;
}

#member-team-grid{
    width: 400%;
    max-width: 100%;
    text-align: start;
}

/* .item_image{
    object-fit: ;
} */